section.section.terms
	#termsWrap
		.title-wrapper.normal.d-flex.justify-content-center.align-items-center 
			h2.animate Terms<br>of coo-<br>peration
		.text-terms
			div
				.title
					h1 Professional approach to work

				.list-decor
					.item
						span.decor 001
						|Familiarization with the project and the customer requirements 
					.item
						span.decor 002
						|Prepayment of 50% of the total cost
					.item
						span.decor 003
						|Clarification of all the project details
					.item
						span.decor 004
						|User experience design & interactive prototyping
					.item
						span.decor 005
						|Main page design
					.item
						span.decor 006
						|Presentation of the main page and stylistics affirmation
					.item
						span.decor 007
						|Internal pages design
					.item
						span.decor 008
						|Final presentation of the design 
					.item
						span.decor 009
						|Preparing layouts for development
					.item
						span.decor 010
						|Transfer of initial materials (PSD & PNG files, fonts, images, icons) 
					.item
						span.decor 011
						|Transfer of initial materials (PSD & PNG files, fonts, images, icons)

					.description.
						Transfer of initial materials occurs after receiving 100% payment for the project. If it is necessary to send files of the main or internal pages for the development before the work is completed — it is enough to pay the full cost of the project and I will send the files as they become available.

			.case-text 
				h4 Project work
				p.
					One design option is provided within the budget. During the work I completely<br>
					immerse myself in the project and give one's attention to details. As a result, design gets worked out to the smallest details and as a rule satisfies the client at once.
				.description.
					Design or/and  prototype of one of the pages can be adjusted in three stages without limiting the number of edits to the stage. Other adjustments are made for an additional fee.
			.case-text 
				h4 Communication
				p.
					Communication  takes place in text format while working on the project. Thanks to this kind of communication we can fixed all the discussion and we can always find
					<br>and read necessary information in the project history. It helps to exclude all kinds
					<br>of misunderstandings in the future, if anything has been missed.
				.description.
					The main means of communication for both parties is email. Skype is used to discuss current tasks for the project.
			.case-text 
				h4 Payment methods
				p
					|SWIFT
					span.line
					|Payoneer
					span.line
					|WebMoney

			.case-text 
				h4 Work time

				p.
					Implementation and discussion of projects is carried out on working days<br>
					(Monday — Friday) from 09:00 to 21:00 in Kyiv time.