* {
	outline: none !important;
}

.title-wrapper {
	height: 100vh;
	position: absolute;
	width: 100%;
	z-index: -1;

	h1, h2 {
		text-transform: uppercase;
		font-family: $mont;
		font-size: 200px;
		font-weight: 800;
		letter-spacing: 35px;
		color: #0f1011;
		position: relative;

		&::before {
			content: '';
			width: 50%;
			height: 100%;
			background: $body-bg;
			position: absolute;
			right: 50%;
		}

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			background: $body-bg;
			position: absolute;
			left: 50%;
		}

		&.animate {
			@include animation(opacityTextDark 0.5s);

			&::after {
				width: 0%;
				@include animation(Mask50 0.7s);
			}
			&::before {
				width: 0%;
				@include animation(Mask50 0.7s);
			}
		}
	}

	&.normal {
		h1, h2 {
			text-transform: none;
		}
	}

	&.center {
		h1, h2 {
			text-align: center;
		}
	}

	@media (max-width: 1380px) {
	    padding-left: 46px;
		
		h1, h2 {
		    font-size: 142px;
		    letter-spacing: 50px;
		}

		&.normal {
			h1, h2 {
				letter-spacing: 7px;
				padding-left: 10px;
			}
		}
	}
}

@include keyframes (afterMask){
	from {width: 100%;}
	to {width: 0%}
}
@include keyframes (beforeMask){
	from {width: 100%;}
	70% {width: 100%;}
	to {width: 0%}
}
@include keyframes (Mask50){
	from {width: 50%;opacity: 1;}
	to {width: 0%;opacity: 0;}
}

@include keyframes (opacityText){
	from {color: rgba(255, 255, 255, 0);}
	to {color: rgba(255, 255, 255, 1);}
}
@include keyframes (opacityTextDark){
	from {color: rgba(15, 16, 17, 0);}
	to {color: rgba(15, 16, 17, 1);}
}


    // -webkit-animation: line-scroll 3s ease-in-out infinite;
    // animation: line-scroll 3s ease-in-out infinite;
@include keyframes (line-scroll) {
	0% {background-position: 0 -80px;}
	80% {background-position: 0 0px;}
	100% {background-position: 0 80px;}
}