.section.about {
	@media (min-width: 1381px) {
		.title-wrapper {
			h1, h2 {
			    letter-spacing: 11px !important;
   				word-spacing: 0px;
		    	margin-top: -24px;
    			margin-left: 10px;
			}
		}
	}

	.text-about {
		height: 100vh;
		max-width: 1380px;
		margin: 0 auto;

		.column {
			width:50%;
			color: $white;
			font-size: 12px;
			font-weight: 300;
			font-family: $mont;
			padding-left: 130px;
			letter-spacing: 0.3px;
			
			@media (min-width: 1381px) {
			    padding-left: 181px;
			    letter-spacing: .3px;
			    word-spacing: 1.5px;
			    font-size: 17px;
			    
			    p {
		    	    margin-bottom: 22px;
			    }
			}

			&.float-right {
				padding-left: 122px;
				
				@media (min-width: 1381px) {
					padding-left: 170px;
					font-size: 21px;
					line-height: 36px;
					margin-top: -6px;
					letter-spacing: 1.5px;
					word-spacing: 0.5px;
				}
				
				@media (max-width: 1380px) {
					line-height: 25px;
					font-size: 16px;
				}

			}
		}

		.title {
		    width: 100%;
	        margin: 37px 0;
		
			@media (min-width: 1381px) {
			    margin: 51px 0 56px;
			}

		    h3 {
			    color: $white;
			    font-size: 42px;
				font-weight: 800;
			    line-height: 63px;
				font-family: $mont;
				letter-spacing: 4px;

				@media (max-width: 1380px) {
					font-size: 29px;
					line-height: 45px;
					letter-spacing: 3.5px;
				}
		    }
		}
		
		@media (max-width: 1380px) {
		    max-width: 984px;
		}

	}
}