footer {
    left: auto;
    right: 0;
}
.footer {
    right: auto;
    left: 0
}

.footer, footer {
	padding: 40px;
	font-family: $mont;
	font-weight: 400;
	letter-spacing: 0.75px;
	font-size: 14px;
    z-index: 1;
    bottom: -75px;
    z-index: 1030;
    position: fixed;

    &.animate {
		bottom: 0;
		@include animation(footer 1s);
    }

	.social {
		margin: 0px;

		li {
			margin: 0px 40px;

			&:first-child {
				margin-left: 0px;
			}

			&:last-child {
				margin-right: 0px;
			}
		}
	}

	.volume-toggle {
		padding: 0;
		margin: 0;
		background: transparent;
		border: none;
		outline: none;
		color: $white;

		font-family: $mont;
		font-weight: 400;
		letter-spacing: 0.75px;
		font-size: 14px;
		cursor: pointer;

		&:hover {
			color: $brand-primary;
		}

		&::before {
			content: '';
			width: 17px;
			height: 18px;
			margin-right: 20px;
			display: inline-block;
			background: url(../../images/icon/volume_toggle.png) no-repeat left bottom;
		}

		&.off {
			&::before {
				background-position: right bottom;
			}
		}
	}

	@media (max-width: 1380px) {
	    padding: 25px;
	    font-size: 10px;

		.volume-toggle {
			font-size: 10px;

			&::before {
				margin-right: 12px;
			}
		}
		
		.social {
			margin-top: 6px;
		}

		.list-inline-item:not(:last-child) {
		    margin-right: 12px;
		}

	}

}

@include keyframes (footer){
	from {bottom: -70px;opacity: 0;}
	50% {opacity: 0;}
	to {bottom: 0px;opacity: 1;}
}