header {
	position: fixed;
	top: -70px;
	left: 0;
	right: 0;

	padding: 40px;
	font-family: $hind;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 21px;
    z-index: 1;
    
    &.animate {
		top: 0;
		@include animation(header 1s);
    }

	.column {
		width: 50%;
	}

	@media (max-width: 1380px) {
	    padding: 24px 25px;
	    font-size: 14px;
	}
}

@include keyframes (header){
	from {top: -70px;opacity: 0;}
	50% {opacity: 0;}
	to {top: 0px;opacity: 1;}
}