header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	padding: 40px;
	font-family: $hind;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 21px;
    z-index: 1;
    
	.column {
		width: 50%;
	}

	@media (max-width: 1380px) {
	    padding: 24px 25px;
	    font-size: 14px;
	}
}
