html(lang='en')
	include common/head
	body
		include common/header
		include common/navigation
		include common/menu-button
		
		#fullpage
			include index/designer
			include index/about
			include index/services
			include index/contacts

		include common/footer
		.mask-nextPage
		include common/menu