html(lang='en')
	include common/head
	body
		.container-fluid
			.row
				.col-md-12
					section.d-flex.preload-wrapper.align-items-center
						.turn-text
							span.before
								span Turn on the volume or use headphones