html(lang='en')
	include common/head
	body
		include common/header
		include common/menu-button
		
		#fullpageTerms
			include terms/section_1
			include index/contacts

		//- include common/footer
		.mask-nextPage
		include common/menu_terms