html(lang='en')
	include common/head
	body#terms
		include common/header
		include common/menu-button
		
		#fullpageTerms
			include terms/section_1
			//- include index/contacts

		include common/footer
		include common/menu
		include index/popup