section.section.about
	.title-wrapper.normal.d-flex.justify-content-center.align-items-center 
		h2.animate About me
	.text-about.d-flex.justify-content-center.align-items-center.flex-wrap
		div
			.title(style="padding-top: 75px;")
				h3 Dmitry Naprienko —</br>Creative Designer
			.column.float-left
				p Specialize in design creation for websites and mobile applications.
				p I define the concept of creative vision for creating<br/>interactive design.
				p I'm sure that an individual approach to each project<br>helps to create enduring design solutions that fulfill<br>strategic business objectives.
			.column.float-right
				p.white Your project is our project. Whether you have been building products for years,<br>or new to the industry, we are teammates on your path to success.