section.section.contacts
	.title-wrapper.normal.center.d-flex.justify-content-center.align-items-center
		h1 Contacts
	.text-contacts.d-flex.justify-content-center.flex-wrap.align-items-center
		.wrapper-section
			.contacts-title
				h4 
					span.animation_item Do you have an interesting project?
					|<br>
					span.animation_item Let's talk about that!
			div

				.column
					p.decor Email
					p 
						span dmitrynaprienko@gmail.com
				.column
					p.decor Location
					p 
						span Kyiv, Ukraine
				.column
					p.decor Skype
					p 
						span dmitry_naprienko
				.clearfix
				.button-wrapper
					button(type="button", onclick="$('.contatcsModal').modal('show')") Start a project

	.thanks-block
		span Thanks to 
			a(href="https://lauer.agency/", target="_blank") Lauer
			|&nbsp;for the web development.

