section.section.contacts
	.title-wrapper.normal.center.d-flex.justify-content-center.align-items-center
		h1 Contacts
	.text-contacts.d-flex.justify-content-center.flex-wrap.align-items-center
		.wrapper-section
			.contacts-title
				h4 Do you have an interesting project?<br>Let's talk about that!
			form(action="")

				.column
					label
						span Email
						input.form-control(type="text", name="email")
					p dmitrynaprienko@gmail.com
				.column
					label
						span Location
						input.form-control(type="text", name="location")
					p Kyiv, Ukraine
				.column
					label
						span Skype
						input.form-control(type="text", name="skype")
					p dmitry_naprienko
				.clearfix
				.button-wrapper
					button Start a project

	.thanks-block
		span Thanks to 
			a(href="https://lauer.agency/", target="_blank") Lauer
			|&nbsp;for the web development.