section.section.contacts
	.title-wrapper.normal.center.d-flex.justify-content-center.align-items-center
		h1 Contacts
	.text-contacts.d-flex.justify-content-center.flex-wrap.align-items-center
		.wrapper-section
			.contacts-title
				h4 Do you have an interesting project?<br>Let's talk about that!
			form(action="")

				.column
					p.decor Email
					p dmitrynaprienko@gmail.com
				.column
					p.decor Location
					p Kyiv, Ukraine
				.column
					p.decor Skype
					p dmitry_naprienko
				.clearfix
				.button-wrapper
					button Start a project

	.thanks-block
		span Thanks to 
			a(href="https://lauer.agency/", target="_blank") Lauer
			|&nbsp;for the web development.