section.section.designer
	.title-wrapper.d-flex.justify-content-center.align-items-center 
		h1 designer
	.designer-text.d-flex.justify-content-center.align-items-center
		h2 Creative &
			span &nbsp;Perfectly
			|&nbsp;Executed Design

	a.scroll-bottom(onclick="$.fn.fullpage.moveSectionDown();")
		span Scroll down

