section.section.services
	.title-wrapper.normal.center.d-flex.justify-content-center.align-items-center.services
		h1.animate Services
	.text-services.d-flex.justify-content-center.flex-wrap
		.wrapper-section
			.wrapper
				.title
					h2 Specialization
				.column.float-left
					.item
						span.decor 001
						|UI & Web Design
					.item
						span.decor 004
						|Creative/Art Direction
				.column.float-left
					.item
						span.decor 002
						|UX Design
					.item
						span.decor 005
						|Prototyping
				.column.float-right
					.item
						span.decor 003
						|Mobile App Design
					.item
						span.decor 006
						|Design Strategy
				.clearfix
			.wrapper.second-wrap
				.title.second
					h3 The target audience
				.column.float-left.second
					.item
						span.decor.second.float-left
						.float-left.text-wrapp
							|Small and medium<br>business companies
				.column.float-left.second
					.item
						span.decor.second.float-left
						.float-left.text-wrapp
							|Startups, young and<br>novice companies
				.column.float-left.second
					.item
						span.decor.second.float-left
						.float-left.text-wrapp
							|Agencies, design studios<br>and colleagues in the IT
				.clearfix