.footer.float-left
	button.volume-toggle(data-toggle-text="Music doesn't play").off Music plays

footer
	.column.float-right.text-right
		ul.list-inline.social
			li.list-inline-item
				a(href="#", target="_blank") Behance
			li.list-inline-item
				a(href="#", target="_blank") Dribbble
			li.list-inline-item
				a(href="#", target="_blank") Facebook