head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(http-equiv='language', content='EN')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	title Designder

	link(rel='stylesheet', href='styles/css/animate.min.css')
	link(rel='stylesheet', href='styles/css/style.min.css')
		
	//- script(src='js/_lib/bootstrap.min.js')
	script(src='js/jquery.min.js')
	script(src='js/jquery.lettering.js')
	script(src='js/jquery.textillate.js')
	script(src='js/main.js')

