section.d-flex.preload-wrapper.align-items-center
	.turn-text
		span.before
			span Turn on the volume or use headphones

	.title-wrapper.d-flex.justify-content-center.align-items-center
		h1.animate.item1 digital
		h2.animate.item2 designer