.menu
	.menu-wrapper.d-flex.justify-content-center.align-items-center 
		.navigation.d-flex.align-items-center 
			nav
				ul
					li
						a(href="#designer") Main
					li
						a(href="#designer") About me
					li
						a(href="#designer") Services
					li
						a(href="#designer") Contacts

		a(href="#").portfolio-text.d-flex.align-items-center.flex-wrap
			div
				p port 
					span -
				div
					p.mini View portfolio
				p folio

	a(href="#").line-bottom
		span terms of cooperation



