nav.navigation-right
	ul#navigation.list-inline.clearfix
		li(data-menuanchor="designer").active
			a.list-inline-item(href="#designer") 01
		li(data-menuanchor="about")
			a.list-inline-item(href="#about") 02
		li(data-menuanchor="services")
			a.list-inline-item(href="#services") 03
		li(data-menuanchor="contacts")
			a.list-inline-item(href="#contacts") 04
